.modal-custom {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(34, 34, 34);
  padding: 20px;
  z-index: 1000;
  border-radius: 10px;
  animation: enter-modal 250ms;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1000;
  filter: blur(4px);
}

.modal-buttons {
  display: flex;
  justify-content: space-around;
}

@keyframes enter-modal {
  from {
    opacity: 0;
    margin-top: -100px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
