.item {
  display: grid;
  justify-items: left;
  font-size: 0.75rem;
  grid-template-columns: 90px 14px 170px 14px;
  column-gap: 0.5rem;
}
.item .form-control {
  padding: 0 !important;
  font-size: unset !important;
}
