#root {
  margin: 0 auto;
  text-align: center;
  --blue: rgb(86, 205, 255);
  --purple: rgb(167, 164, 217);
  --pink: rgb(230, 37, 144);
}

.grad-forewards {
  background: linear-gradient(90deg, var(--pink), var(--purple), var(--blue));
}
.grad-backwards {
  background: linear-gradient(90deg, var(--blue), var(--purple), var(--pink));
}

.text-clip {
  display: inline-block;
  font-weight: bolder;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #3f3f46;
  border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
