#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --inner-border-radius: 9px;
  --outer-border-radius: 12px;
  --background: rgb(49, 49, 49);
  --toys-container: rgb(44, 44, 44);
  --item: rgb(49, 49, 49);
  --container-border-radius: 10px;
  --blue: rgb(86, 205, 255);
  --purple: rgb(167, 164, 217);
  --pink: rgb(230, 37, 144);
}

.btn-custom {
  background-color: var(--toys-container);
  font-size: 10vw;
  font-weight: bolder;
  width: 100vw;
  height: 10vh;
  border-radius: 0.25rem;
}
.btn-custom-2 {
  background-color: var(--background);
  font-size: 1rem;
  margin: 1rem;
  border-radius: 0.25rem;
  font-weight: bolder;
}

.grad-text {
  display: inline-block;
  font-weight: bolder;
}

.grad-forewards {
  background: linear-gradient(90deg, var(--pink), var(--purple), var(--blue));
}
.grad-backwards {
  background: linear-gradient(90deg, var(--blue), var(--purple), var(--pink));
}
.grad-text.grad-forewards {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.grad-text.grad-backwards {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes enter-ani {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
