#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --inner-border-radius: 9px;
  --outer-border-radius: 12px;
  --background: rgb(49, 49, 49);
  --toys-container: rgb(44, 44, 44);
  --item: rgb(49, 49, 49);
  --container-border-radius: 10px;
  --blue: rgb(86, 205, 255);
  --purple: rgb(167, 164, 217);
  --pink: rgb(230, 37, 144);
}

.grad-forewards {
  background: linear-gradient(90deg, var(--pink), var(--purple), var(--blue));
}
.grad-backwards {
  background: linear-gradient(90deg, var(--blue), var(--purple), var(--pink));
}

.text-clip {
  display: inline-block;
  font-weight: bolder;
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent;
}
