@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  overflow: hidden;

  --text-color: rgba(255, 255, 255, 0.87);
  --background-color: #18181b;
  color: var(--text-color);
  background-color: var(--background-color);
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif !important;
}
