name: build

on:
  workflow_dispatch:

jobs:
  build-tauri:
    environment: TauriReleaseBuildSecrets
    strategy:
      matrix:
        include:
          - os: windows-latest
            bundle: msi
          - os: ubuntu-latest
            bundle: deb
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
      - name: install app dependencies
        run: yarn
      - name: build ${{ matrix.bundle }} and create release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
          TAURI_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
        with:
          # the action automatically replaces __VERSION__ with the app version
          tagName: __VERSION__
          releaseName: "__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: true
          prerelease: false
          args: "-b ${{ matrix.bundle }}"
