name: build

on:
  workflow_dispatch:

jobs:
  build-tauri:
    environment: TauriReleaseBuildSecrets
    strategy:
      matrix:
        include:
          - os: windows-latest
            bundle: msi
          - os: ubuntu-latest
            bundle: deb
      fail-fast: false

    runs-on: ${{ matrix.os }}
    steps:
      - name: If Linux setup dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt -y update
          sudo apt -y install libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev libudev-dev libudev1
      - uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: Configure Yarn for CI
        run: |
          yarn config set nodeLinker node-modules
      - name: install app dependencies
        run: yarn install --immutable
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
      - name: build ${{ matrix.bundle }} and create release
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY }}
          TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_SIGNING_PRIVATE_KEY_PASSWORD }}
        with:
          # the action automatically replaces __VERSION__ with the app version
          tagName: __VERSION__
          releaseName: "__VERSION__"
          releaseBody: "See the assets to download this version and install."
          releaseDraft: true
          prerelease: false
          args: "-b ${{ matrix.bundle }}"
