name: test

on:
  push:
  pull_request:
    branches: [main]

jobs:
  check-frontend:
    runs-on: [ubuntu-latest]
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
      - name: Enable Corepack
        run: corepack enable
      - name: install app dependencies and check frontend
        run: |
          yarn install
          yarn lint:check
          yarn format:check
          yarn typecheck

  test-build:
    needs: check-frontend
    if: ${{ github.ref == 'refs/heads/main' }}
    strategy:
      matrix:
        include:
          - os: windows-latest
            bundle: msi
            artifact-path: src-tauri/target/release/bundle/msi/*.msi
          - os: ubuntu-latest
            bundle: deb
            artifact-path: src-tauri/target/release/bundle/deb/*.deb
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: If Linux setup dependencies
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt -y update
          sudo apt -y install libwebkit2gtk-4.1-dev build-essential curl wget file libxdo-dev libssl-dev libayatana-appindicator3-dev librsvg2-dev libudev-dev libudev1
      - name: checkout repo
        uses: actions/checkout@v4
      - name: install Rust stable
        uses: dtolnay/rust-toolchain@stable
      - name: Rust cache
        uses: swatinem/rust-cache@v2
        with:
          workspaces: "./src-tauri -> target"
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: "yarn"
      - name: install app dependencies
        run: yarn
      - name: test build ${{ matrix.bundle }}
        uses: tauri-apps/tauri-action@v0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: "-b ${{ matrix.bundle }} --no-sign"
      - name: upload ${{ matrix.bundle }} artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.bundle }}-test-binary
          path: ${{ matrix.artifact-path }}
